<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->
<!--        <title>E.R.I.K.A chatbot</title>-->
<!--      <link rel="stylesheet" type="text/css" href="/static/style.css">-->
<!--      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--        <link rel="stylesheet" href="style.css">-->
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >-->
<!--        <script src="https://use.fontawesome.com/02318bb330.js"></script>-->

<!--    </head>-->

<!--    <div class="container-fluid ps-md-0 bg-image align-items-center">-->
<!--        <div class="row g-0">-->
<!--            <div class="container p-0" >-->
<!--                <div class="row">-->
<!--                    <img src="images/logo2.png" class="logo-image mx-auto">-->
<!--                </div>-->

<!--                <div class="row chat pb-3 pt-3 mx-auto" style="width:68%; border-radius:13px">-->
<!--                    &lt;!&ndash; Chat Box&ndash;&gt;-->
<!--                    <div class="col-12 px-0">-->
<!--                        <div class="px-4 py-4 chat-box bg-white">-->
<!--                            <div class="media w-50 mb-3"><img src="http://placehold.it/50/55C1E7/fff&text=E" alt="user" width="50" class="rounded-circle">-->
<!--                                <div class="media-body ml-3">-->
<!--                                    <div id="chatbox" class="bg-light rounded py-2 px-3 mb-2">-->
<!--                                    <p class="mb-0 text-black" >-->
<!--                                      <span>Hi!</span>-->
<!--                                    </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                                &lt;!&ndash; Sender Message&ndash;&gt;-->
<!--                                <div class="media w-50 mb-3"><img src="http://placehold.it/50/55C1E7/fff&text=E" alt="user" width="50" class="rounded-circle">-->
<!--                                <div class="media-body ml-3">-->
<!--                                    <div id="userInput" class="bg-light rounded py-2 px-3 mb-2">-->
<!--                                    <p class="mb-0 text-black" id="bot">Hello, my name is Erika. How are you feeling today?</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Reciever Message&ndash;&gt;-->
<!--                                <div class="media w-50 ml-auto mb-3">-->
<!--                                <div class="media-body">-->
<!--                                    <div class="bg-primary rounded py-2 px-3 mb-2">-->
<!--                                    <p class="mb-0 text-white" >Hello, it is not great</p>-->
<!--                                    </div>-->
<!--                                    <p class="small text-muted mb-0">12:00 PM | Aug 13</p>-->
<!--                                </div>-->
<!--                                </div>-->
<!--                        </div> &lt;!&ndash; class="px-4 py-4 chat-box bg-white" &ndash;&gt;-->

<!--                            &lt;!&ndash; Typing area &ndash;&gt;-->
<!--                            <form action="#" class="bg-light">-->
<!--                                <div class="input-group">-->
<!--                                <input type="text" id="textInput" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 pl-4 bg-light">-->
<!--                                <div class="input-group-append">-->
<!--                                    <button id="buttonInput" type="submit" value="send" style="width:75px;" class="btn btn-link"> <i class="fa fa-paper-plane fa-lg"></i></button>-->
<!--                                </div>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                 </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    </body>-->
<!--    <script src="app.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash;<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<!--</html>-->












<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>E.R.I.K.A.</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi!</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>
